<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "chatrooms/nav" %>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
    <div class="fluid-container">
      <div class="row">
        <div class="col-xs-2">
          <% if user_signed_in? %>
            <h5>Chatrooms</h5>
            <ul>
              <% current_user.chatrooms.each do |chatroom| %>
                <li><%= link_to chatroom.name, "#" %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="col-xs-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
